In [45]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
import os
import math
import sys

In [65]:
class c4_5:
    def __init__(self,file,configDICT):
        self.loadData(file,configDICT)
        print("init")
        
    def loadData(self,file,configDICT):
        self.data = pd.read_csv(file)
        self.config = configDICT
        self.attrs = configDICT["attrs"]
        self.classes = configDICT["classes"]
        self.cls_attr = configDICT["cls_attr"]
    
    def information(self,attr):
        info = {}
        attrEntropy = 0
        total = 0
        for i,row in self.data.iterrows():
            total = total + 1
            if row[attr] in self.attrs[attr]["labels"]:
                if row[attr] in info:
                    info[row[attr]]["classes"][row[self.cls_attr]] = info[row[attr]]["classes"][row[self.cls_attr]] + 1
                    info[row[attr]]["total"] = info[row[attr]]["total"] + 1
                else:
                    info[row[attr]] = {"total": 1,"entropy":0,"classes":{}}
                    for cls in self.classes:
                        info[row[attr]]["classes"][cls] = 1
        for key in info:
            for cls in info[key]["classes"]:
                info[key]["entropy"] = (info[key]["entropy"] 
                                        + (-(info[key]["classes"][cls]/info[key]["total"]) * 
                                               math.log2(info[key]["classes"][cls]/info[key]["total"])))
            attrEntropy = attrEntropy + (info[key]["total"]/total)*info[key]["entropy"]
            
        
        return info,attrEntropy
    
    def getInfoData(self):
        cls = {}
        entropy = 0
        total = 0
        for i,row in self.data.iterrows():
            total = total + 1
            if row[self.cls_attr] in cls:
                cls[row[self.cls_attr]] = cls[row[self.cls_attr]] + 1
            else:
                cls[row[self.cls_attr]] = 1
                
        for key in cls:
            entropy = entropy + (-(cls[key]/total)*math.log2(cls[key]/total))
        return entropy
    
    def fit(self):
        stack = [{"depth":0,"selected_attr":{},"selected_label":{}}]
        depth = 0
        while len(stack) > 0 :
            item = stack[-1]
            print("the depth {}:".format(item["depth"]))
            globalEntropy = self.getInfoData()
            print(globalEntropy)
            minEntropy = sys.maxsize
            minArgEntropy = None
            for kattr in self.attrs:
                if kattr not in item["selected_attr"]:
                    item["selected_attr"][kattr]= depth
                    if self.attrs[kattr]["type"] == "categorical":
                        #labels = self.attrs[kattr]["labels"]
                        info,attrEntropy = self.information(kattr)
                        if minEntropy > globalEntropy - attrEntropy:
                            minArgEntropy = [kattr,info]
                            minEntropy = globalEntropy - attrEntropy
            print(minEntropy)
            return
                        #for klabel in labels:
                            #if klabel not in item["selected_label"]:
                                
                    
        #por cada atributo que no se encuentre seleccionado
            # obtener etiquetas del atributo
            # seleccionamos la etiqueta mejor
            #

In [24]:
data =  pd.read_csv("crx.txt")

In [25]:
data.describe(include="all")

,a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12,a13,a14,a15,a16
count,678,678.000000,690.000000,684,684,681,681,690.000000,690,690,690.00000,690,690,677.000000,690.000000,690
unique,2,NaN,NaN,3,3,14,9,NaN,2,2,NaN,2,3,NaN,NaN,2
top,b,NaN,NaN,u,g,c,v,NaN,t,f,NaN,f,g,NaN,NaN,-
freq,468,NaN,NaN,519,519,137,399,NaN,361,395,NaN,374,625,NaN,NaN,383
mean,NaN,31.568171,4.758725,NaN,NaN,NaN,NaN,2.223406,NaN,NaN,2.40000,NaN,NaN,184.014771,1017.385507,NaN
std,NaN,11.957862,4.978163,NaN,NaN,NaN,NaN,3.346513,NaN,NaN,4.86294,NaN,NaN,173.806768,5210.102598,NaN
min,NaN,13.750000,0.000000,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,0.00000,NaN,NaN,0.000000,0.000000,NaN
25%,NaN,22.602500,1.000000,NaN,NaN,NaN,NaN,0.165000,NaN,NaN,0.00000,NaN,NaN,75.000000,0.000000,NaN
50%,NaN,28.460000,2.750000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,0.00000,NaN,NaN,160.000000,5.000000,NaN
75%,NaN,38.230000,7.207500,NaN,NaN,NaN,NaN,2.625000,NaN,NaN,3.00000,NaN,NaN,276.000000,395.500000,NaN
max,NaN,80.250000,28.000000,NaN,NaN,NaN,NaN,28.500000,NaN,NaN,67.00000,NaN,NaN,2000.000000,100000.000000,NaN

In [11]:
data.head(10)

  a1     a2      a3 a4 a5  a6 a7     a8 a9 a10  a11 a12 a13    a14    a15 a16
0  b  30.83   0.000  u  g   w  v  1.250  t   t    1   f   g  00202      0   +
1  a  58.67   4.460  u  g   q  h  3.040  t   t    6   f   g  00043    560   +
2  a  24.50   0.500  u  g   q  h  1.500  t   f    0   f   g  00280    824   +
3  b  27.83   1.540  u  g   w  v  3.750  t   t    5   t   g  00100      3   +
4  b  20.17   5.625  u  g   w  v  1.710  t   f    0   f   s  00120      0   +
5  b  32.08   4.000  u  g   m  v  2.500  t   f    0   t   g  00360      0   +
6  b  33.17   1.040  u  g   r  h  6.500  t   f    0   t   g  00164  31285   +
7  a  22.92  11.585  u  g  cc  v  0.040  t   f    0   f   g  00080   1349   +
8  b  54.42   0.500  y  p   k  h  3.960  t   f    0   f   g  00180    314   +
9  b  42.50   4.915  y  p   w  v  3.165  t   f    0   t   g  00052   1442   +

In [15]:
data.isnull().sum()

a1     0
a2     0
a3     0
a4     0
a5     0
a6     0
a7     0
a8     0
a9     0
a10    0
a11    0
a12    0
a13    0
a14    0
a15    0
a16    0
dtype: int64

In [67]:
c4_5 = c4_5("crx.txt",{"attrs":{"a1":{"type":"categorical","labels":["b","a"]}},"classes":["+","-"],"cls_attr":"a16"})

init

In [68]:
c4_5.fit()

the depth 0:
0.9912308989033521
0.018288482305752862

In [69]:
((-307/690) * math.log2(307/690)) + ((-383/690) * math.log2(383/690))

0.9912308989033521